:root {
    --orang: #f1872d;
    --white:#ffffff;
}

/* / global / */
button{border:none ; color:#fff !important;}
button:hover{color:#fff !important;}
table td{ vertical-align:middle;}
.form-group{margin-bottom: 0px !important;}
.form-control-sm{border-radius: 25px 0px 0px 25px;}
.default_btn{padding: 7px 31px; margin-top: 12px;}
textarea{resize:none;}


/* bg color library*/
.btn_baseColor, .bg_baseColor{background-color:rgb(61 198 5);}
.btn_secondaryColor, .bg_secondaryColor{background-color: rgba(243,156,18,1);}

/* / btn hover / */
.btn_baseColor:hover{background-color:rgb(61 198 5);}

/*Button*/
.btn{border-radius:25px; color:#fff;}
/* / BOOTSTRAP CHANGES / */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{background-color: #f1872d !important;}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover{background-color: #f5ebce;}
.input-group>.custom-file, .input-group>.custom-select, /*.input-group>.form-control,*/ .input-group>.form-control-plaintext{border-radius: 25px 0px 0px 25px;}
.card-title{font-size: 16x;}
input[type="text"], textarea {outline: none;  box-shadow:none !important;  border:1px solid #ccc !important;}
/* / Project / */
[class*=icheck-]>input:first-child+label::before{border-radius:3px;}
.user-panel .info{width: 100%;}
.info a{font-weight: 600;}
.main-footer{background-color: #343a40; border-top: 1px solid #343a40; height: 57px; width: 100%; position: fixed; bottom: 0; right: 0; left: 0; font-size: 13px;}
a{color:rgb(83 224 47)}
a.btn{color:#fff;}
.docker-drop i{font-size: 15px;}
.content-header h1{font-size:26px; }
.login-page, .register-page{background-color: #000d12bd;}
.login-logo, .register-logo{width: 153px; height: auto; margin: 0px auto 30px;}
.login-logo img, .register-logo img{ width: 100%; object-fit: contain;}
.login-card-body, .register-card-body{border-radius:8px;}
.btn_reg{padding: 5px 20px;}
.breadcrumb{background-color: transparent;}
.defaultTab.nav-pills .nav-link.active, .defaultTab.nav-pills .show>.nav-link{background-color:rgba(243,156,18,1) !important;border-radius: 25px;color:#fff;}
.defaultTab.nav-pills .nav-item{background-color:rgba(227,230,233,1) !important;border-radius: 25px; margin-right: 10px;}
.defaultTab.nav-pills .nav-link{color:rgba(243,156,18,1);}
.defaultTab.nav-pills .nav-link:hover {background-color:rgba(243,156,18,1) !important; color:#fff; border-radius: 25px;}
.content-wrapper.normal_wrap{margin-left:0px !important;}
.defaultFormWrap{width: 60%; margin:auto; padding:13px 0px;}
.defaultFormWrap .card-body{padding:15px 30px;}
label{font-size: 14px; font-weight:500;}
table .form-group a{color:#fff;}

.logoCont{width: 183px; height: 50px; }
.logoCont img{width: 100%; height: 100%; object-fit: contain;}

.newTab .nav-pills .nav-link.active, .newTab .nav-pills .show>.nav-link{background-color: #ffffff; border: 1px solid #ccc;
    border-bottom-color: transparent; color:#F15A22;}
.newTab .nav{margin-bottom:-10px;}

.errorWrap{width: 70%; margin:25px auto;}
.errorImg{width:350px; height:350px; margin:auto;}
.errorImg img{width:100%; height: 100%; object-fit: contain;}
.errorWrap h3{width: 100%; text-align: center; font-size: 40px; color:#F15A22; font-weight: 600;}

/* Subhodeep */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{background-color: #53e02fe0 !important;}
.page-link {color: #53e02fe0 !important}
.page-item.active .page-link{background-color: #53e02fe0 !important; border-color: #53e02fe0 !important; color: #fff !important}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    padding-right: 2.25rem!important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.nav-sidebar>.nav-item .nav-icon {width: auto !important; font-size: 16px !important;}
.fa-chalkboard-teacher:before {font-size: 16px !important;}
.fa-graduation-cap:before {font-size: 16px !important;}
.calender-section .btn-primary {background-color: var(--orang) !important; border-color: var(--orang) !important;}
body:not(.layout-fixed) .main-sidebar {position: fixed !important;}
.card-primary {z-index: 1; margin-bottom: 100px;}
.main-footer, .sticky-top  {z-index: 2;}
.sidebar {height: 500px !important;}
.pdb-75 {padding-bottom: 75px; z-index: 1;}
.loginTxt {text-align: center;}
.mandetory { color: #ff5400; }
.login-logo a, .register-logo a { pointer-events: none; cursor: default; }

.click_to_upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 20px auto 0;
    float: none;
}

.click_to_upload button {
	color: #fff;
	background-color: #3F547D;
	padding: 15px 30px;
	border-radius: 30px;
	font-size: 15px;
	font-weight: 400;
	display: flex;
    align-items: center;
    justify-content: center;
}

.click_to_upload button i {
	margin-right: 5px;
}

.click_to_upload input {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.product-upload-img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    float: left;
}
  
.product-upload-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagenation-agent svg {
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#productImg {
    margin: 5px auto 0 0;
}

.div-bg {
    margin: 32px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #708090;
  background-size: 64px 128px;
}
.main .container {
  height: 560px;
  width: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  align-self: center;
  position: relative;
}
@media (min-width: 1000px) {
  .main .container {
    box-shadow: 2px 2px 20px;
  }
}
.main .container #title {
  text-align: center;
  font-size: 2.5em;
}
.main .container .visHolder {
  position: absolute;
  top: 6em;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  font: 12px;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}

#y-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#x-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.info {
  font-size: 0.8em;
}