@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
/* ============= start: reset ============= */
*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
}



*:not(body,
    p,
    a,
    button),
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

body,
p,
a,
button {
    font-family: 'Nunito Sans', sans-serif;
}


p body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}


label {
    margin: 0;
}

footer {
    margin-top: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #87CB28;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

address {
    font-style: normal;
}

textarea {
    resize: none;
}

textarea:hover,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

input:hover,
input:active,
input:focus {
    outline: none;
    box-shadow: none;
}

select:hover,
select:active,
select:focus {
    outline: none;
    box-shadow: none;
}

input[type=number] {
    -moz-appearance: textfield;
    /*For FireFox*/
}

input[type=number]::-webkit-inner-spin-button {
    /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

img {
    border: none;
    max-width: 100%;
}

a img {
    border: 0px;
}

section {
    overflow: hidden;
}

figure {
    margin: 0;
    padding: 0;
}

.slick-initialized .slick-slide {
    outline: none;
    border: none;
}

/* ============= end: reset ============= */


/* =========== start: custom =========== */

.custom-container {
    width: 100%;
    max-width: calc(1408px + 30px);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.custom-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.dropdown.dropdown-s1 .dropdown-menu {
    background-color: #313C4E;
}

.dropdown.dropdown-s1 .dropdown-menu .dropdown-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.dropdown.dropdown-s1 .dropdown-item:focus,
.dropdown.dropdown-s1 .dropdown-item:hover,
.dropdown.dropdown-s1 .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.theme-btn-primary {
    background-color: #87CB28;
    border-radius: 10px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: .4s;
}

.theme-btn-primary:hover {
    color: #fff;
    box-shadow: 2px 4px 7px #7f7f7f;
}

.sec-title1 {}

.sec-title1 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #000000;
}

.sec-title1 h2 span {
    color: #87CB28;
}

/* =========== end: custom =========== */
/* =========== start: main-header =========== */
.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: #313C4E;
    box-shadow: 0px 4px 8px rgba(49, 60, 78, 0.1);
    padding: 7.2px 0;
}

/*
.main-header.sticky {
    background-color: #313C4E;
    backdrop-filter: blur(10px);
    animation: sticky-slideDown 0.35s ease-out;
}*/

@keyframes sticky-slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.main-header .custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-header .logo {
    display: flex;
    align-items: center;
}

.main-header .logo img {
    max-height: 66.62px;
    display: block;

}

.main-header .custom-navbar {
    margin: 0 auto;
}

.main-header .custom-navbar .cn-menu-lists {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.main-header .custom-navbar .cn-menu-lists-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

.main-header .custom-navbar .cn-menu-lists li {}

.main-header .custom-navbar .cn-menu-lists li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Poppins';
    transition: .5s;
    display: inline-block;
    white-space: normal;
}

.main-header .custom-navbar .cn-menu-lists li a:hover {
    color: #87CB28;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu {
    background: rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0px 15px 10px -15px #111 !important;
    box-shadow: 0px 15px 10px -15px #111 !important;
    top: calc(100% + 2px) !important;
    transform: unset !important;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu.mega-menu {
    position: fixed !important;
    top: 78px !important;
    left: 0 !important;
    width: 100% !important;
    padding-top: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 80px);
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu.mega-menu .custom-row {
    row-gap: 20px;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu.mega-menu .custom-col {
    width: 100%;
    max-width: 33.33%;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu.mega-menu .custom-col h5 {
    font-size: 17px;
    font-weight: 600;
    color: #87CB28;
    margin-bottom: 5px;
}


.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu .dropdown-item {
    color: #c3c3c3;
    font-size: 14px;
    position: relative;
    padding: 2px 10px 2px 25px;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu .dropdown-item:hover,
.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu .dropdown-item:focus {
    color: #87CB28;
    background: none;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu .dropdown-item::before {
    content: '';
    flex: 0 0 auto;
    clear: both;
    width: 10px;
    height: 10px;
    background-image: url(../images/footer-nav-list-icon.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    left: 0;
    top: 8px;
    position: absolute;
}

.main-header .cn-right-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.main-header .cn-right-actions .login-btn {
    padding: 8px 16px;
    column-gap: 8px;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu {
    min-width: 182px;
}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu:not(.mega-men) .dropdown-item {
    padding: 2px 10px 2px 15px;

}

.main-header .custom-navbar .cn-menu-lists li .dropdown-s1 .dropdown-menu:not(.mega-men) .dropdown-item::before {
    left: 4px;
}

/* =========== end: main-header =========== */
/* =========== start: main-banner =========== */
.main-banner {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
}

.main-banner .caption-box {
    padding: 140px 0;
    min-height: 800px;
    display: flex;
    flex-direction: column;

}

.main-banner .caption-box h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 100%;
    max-width: 794px;
}

.main-banner .caption-box h1 span {
    color: #87CB28;
    font-weight: 700;

}

.main-banner .caption-box p {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 8px;
}

.main-banner .caption-box p+p {
    margin-top: 16px;
}

.main-banner .caption-box .search-box {
    position: relative;
    width: 100%;
    max-width: 794px;
    margin-top: 24px;
}

.main-banner .caption-box .search-box+p {
    margin-top: 16px;

}

.main-banner .caption-box .search-box .search-input {
    background: #3F4859;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #87CB28;
    height: 48px;
    border-radius: 24px 24px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.012em;
    color: #fff;
    padding: 0 116px 0 23px;
}

.main-banner .caption-box .search-box .search-input::placeholder {
    color: #D9D9D9;
}

.main-banner .caption-box .search-box .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0px 24px 24px 0px;
    width: 110px;

}

.main-banner .caption-box .image-stamp {
    margin-top: 24px;
}

.main-banner .caption-box .image-stamp img {
    display: block;
}

.main-header .menu-toggle {
    display: none;

}

.menu-toggle {
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    flex: 0 0 auto;
    border: 0;
}

.menu-toggle div {
    width: 100%;
    height: 1.33px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
}

.menu-toggle div::before,
.menu-toggle div::after {
    content: "";
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s;
}

.menu-toggle div::before {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.menu-toggle div::after {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

.menu-toggle.active div {
    background-color: transparent;
}

.menu-toggle.active div:after {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.menu-toggle.active div::before {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.main-banner-left-floating,
.main-banner-right-floating {
    position: absolute;
    bottom: 0;
    background: #E6F9CC;
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition: .4s;
}

.main-banner-left-floating p,
.main-banner-right-floating p {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    text-transform: capitalize;
    color: #4E4E4E;
}

.main-banner-left-floating p a,
.main-banner-right-floating p a {
    color: #4E4E4E;
    font-weight: 800;
    font-size: 18px;
}

.main-banner-left-floating .icon-box,
.main-banner-right-floating .icon-box {
    flex: 0 0 auto;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #87CB28;
    border-radius: 19px;
}

.main-banner-left-floating {
    border-radius: 0px 22px 22px 0px;
    left: 0;
    padding: 8px 8px 8px 24px;
    transform: translateX(-215px);
}

.main-banner-right-floating {
    right: 0;
    border-radius: 34px 0px 0px 34px;
    padding: 8px 24px 8px 8px;
    min-width: 257px;
    transform: translateX(190px);
}

.main-banner-left-floating:hover,
.main-banner-right-floating:hover {
    transform: translate(0);
}

.main-banner-right-floating .icon-box {
    border-radius: 50%;

}

.main-banner-outer {
    padding-bottom: 30px;
}

/* =========== end: main-banner =========== */
/* =========== start: companyFormationPackages-sec =========== */
.companyFormationPackages-sec {
    padding: 70px 0 80px;
}

.companyFormationPackages-content {}

.companyFormationPackages-content .tab-menus {
    margin-top: 32px;
}

.companyFormationPackages-content .tab-menus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

.companyFormationPackages-content .tab-menus ul li {}

.companyFormationPackages-content .tab-menus ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #AAAAAA;
    padding: 6px 10px 14px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.companyFormationPackages-content .tab-menus ul li a.active::after {
    background-image: url(../images/tab-menus-active-arow.svg);
}

.companyFormationPackages-content .tab-menus ul li a::after {
    content: '';
    clear: both;
    position: absolute;
    bottom: 0;
    left: -110%;
    z-index: 1;
    width: 100%;
    height: 11px;
    border-top: 2.4px solid #87CB28;
    transition: .5s;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}

.companyFormationPackages-content .tab-menus ul li a.active,
.companyFormationPackages-content .tab-menus ul li a:hover {
    color: #75B719;
}

.companyFormationPackages-content .tab-menus ul li a.active::after,
.companyFormationPackages-content .tab-menus ul li a:hover::after {
    left: 0
}

.companyFormationPackages-lists {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
    padding-top: 120px;
    row-gap: 80px;
}

.companyFormationPackages-lists .cfp-list-col {
    padding: 13px;
    width: 100%;
    max-width: 20%;
}

.companyFormationPackages-lists .cfp-list-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    padding: 0 22px 22px;
    transition: .5s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.companyFormationPackages-lists .cfp-list-box .top-icon-box {
    background: #FFFFFF;
    border: 1px solid #87CB28;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto -30px;
    position: relative;
    top: -60px;
    z-index: 2;
}

.companyFormationPackages-lists .cfp-list-box .top-icon-box .inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    background: #E6F9CC;
}

.companyFormationPackages-lists .cfp-list-box .text-info1 {
    text-align: center;
}

.companyFormationPackages-lists .cfp-list-box .text-info1 h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3A3A3A;
}

.companyFormationPackages-lists .cfp-list-box .text-info1 h3 {
    color: #87CB28;
    font-weight: 600;
    font-size: 32px;
    line-height: 25px;
    margin-top: 16px;
}

.companyFormationPackages-lists .cfp-list-box .list-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 24px;
}

.companyFormationPackages-lists .cfp-list-box .list-info li {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.companyFormationPackages-lists .cfp-list-box .list-info li .icon-container {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: url(../images/teenyicons_tick-circle-solid.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin: 2px 0 0 0;
    flex: 0 0 auto;
}

.companyFormationPackages-lists .cfp-list-box .list-info li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.012em;
    color: #1A1A1A;
}

.companyFormationPackages-lists .cfp-list-box:hover,
.companyFormationPackages-lists .cfp-list-box.active {
    background: linear-gradient(176.05deg, #313C4E 0%, #4F7431 100%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.companyFormationPackages-lists .cfp-list-box:hover .top-icon-box,
.companyFormationPackages-lists .cfp-list-box.active .top-icon-box {
    border: 1px solid #333F4C;
}

.companyFormationPackages-lists .cfp-list-box:hover .top-icon-box .inner-box,
.companyFormationPackages-lists .cfp-list-box.active .top-icon-box .inner-box {
    background: #333F4C;
}

.companyFormationPackages-lists .cfp-list-box:hover .top-icon-box .inner-box img,
.companyFormationPackages-lists .cfp-list-box.active .top-icon-box .inner-box img {

    filter: brightness(0) invert(1);
}

.companyFormationPackages-lists .cfp-list-box:hover .text-info1 h3,
.companyFormationPackages-lists .cfp-list-box:hover .text-info1 h4,
.companyFormationPackages-lists .cfp-list-box:hover .list-info li p,

.companyFormationPackages-lists .cfp-list-box.active .text-info1 h3,
.companyFormationPackages-lists .cfp-list-box.active .text-info1 h4,
.companyFormationPackages-lists .cfp-list-box.active .list-info li p {
    color: #fff;
}

.companyFormationPackages-lists .cfp-list-box:hover .list-info li .icon-container,
.companyFormationPackages-lists .cfp-list-box.active .list-info li .icon-container {
    background-image: url(../images/teenyicons_tick-circle-solid-white.svg);
}

.companyFormationPackages-lists .cfp-list-box:hover .bottom-actions .buy-btn,
.companyFormationPackages-lists .cfp-list-box.active .bottom-actions .buy-btn {
    background-color: #fff;
    color: #87CB28;
}

.companyFormationPackages-lists .cfp-list-box:hover .bottom-actions .read-more-btn,
.companyFormationPackages-lists .cfp-list-box.active .bottom-actions .read-more-btn {
    color: #fff;
}

.companyFormationPackages-lists .cfp-list-box .bottom-actions {
    margin-top: auto;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 16px;
}

.companyFormationPackages-lists .cfp-list-box .bottom-actions .buy-btn {
    height: 48px;
    border-radius: 15px;
    width: 100%;
    max-width: 182px;

}

.companyFormationPackages-lists .cfp-list-box .bottom-actions .read-more-btn {
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.companyFormationPackages-content .compare-actions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.companyFormationPackages-content .compare-actions .compare-btn {
    padding: 0 18px;
    height: 48px;

}


/* =========== end: companyFormationPackages-sec =========== */
/* =========== start: makeCompanyFE-sec =========== */
.makeCompanyFE-sec {
    padding: 0px 0 90px;
}

.makeCompanyFE-steps {
    display: flex;
    flex-wrap: wrap;
    margin: -9px;
    padding-top: 70px;
}

.makeCompanyFE-steps .makeCompanyFE-step-col {
    padding: 9px;
    width: 100%;
    max-width: 25%;
}

.makeCompanyFE-steps .makeCompanyFE-step-box {
    padding: 34px 0 0 34px;
    height: 100%;
}

.makeCompanyFE-steps .makeCompanyFE-step-box .inner-border {
    border: 1.03622px solid #262C2C;
    border-radius: 10.3622px;
    position: relative;
    padding: 20px 26px 24px;
    height: 100%;
}

.makeCompanyFE-steps .makeCompanyFE-step-box .icon-box {
    position: absolute;
    top: -35px;
    left: -35px;
    background: #87CB28;
    border: 4px solid #FFFFFF;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.makeCompanyFE-steps .makeCompanyFE-step-box h3 {
    font-weight: 600;
    font-size: 22.7968px;
    line-height: 27px;
    color: #262C2C;
}

.makeCompanyFE-steps .makeCompanyFE-step-box h4 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 21px;
    line-height: 22px;
    color: #1A1A1A;
    margin-top: 8px;
}

.makeCompanyFE-steps .makeCompanyFE-step-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.012em;
    color: #111111;
    margin-top: 10px;
}

/* =========== end: makeCompanyFE-sec =========== */
/* =========== start: ourServices-sec =========== */
.ourServices-sec {
    padding: 0 0 100px;
}

.ourServices-sec.top-padding {
    padding-top: 70px;
}

.ourServices-steps {
    display: flex;
    flex-wrap: wrap;
    margin-top: 62px;
}

.ourServices-steps .ourServices-step-box {
    display: flex;
    column-gap: 30px;
    position: relative;
    align-items: center;
}

.ourServices-steps .ourServices-step-box .image-container {
    position: relative;
    width: 100%;
    max-width: 688px;
}

.ourServices-steps .ourServices-step-box .image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 55px;
}

.ourServices-steps .ourServices-step-box .image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    background: linear-gradient(91.22deg, rgba(51, 63, 76, 0.7) 0.93%, rgba(78, 114, 50, 0.7) 100%);
    border-radius: 0px;
    min-height: 100px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourServices-steps .ourServices-step-box .image-container .overlay-text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    text-align: center;
}

.ourServices-steps .ourServices-step-box .image-container .overlay-text h3 span {
    color: #87CB28;
}

.ourServices-steps .ourServices-step-box .text-container {
    width: 100%;
    max-width: 680px;
    padding: 120px 0;

}

.ourServices-steps .ourServices-step-box .text-container h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #3A3A3A;
    margin-top: 16px;
}

.ourServices-steps .ourServices-step-box .text-container h3 span {
    color: #99CC00;
}

.ourServices-steps .ourServices-step-box .text-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #3A3A3A;
    margin-top: 10px;
}

.ourServices-steps .ourServices-step-box .text-container .read-more-btn {
    width: 125px;
    height: 48px;
    margin-top: 30px;
}

.ourServices-steps.after-grap-none {
    row-gap: 90px;
}

.ourServices-steps.after-grap-none .ourServices-step-col .ourServices-step-box {
    align-items: center;
}

.ourServices-steps:not(.after-grap-none) .ourServices-step-col:nth-child(1n) .ourServices-step-box::after {
    content: '';
    clear: both;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    background: #313C4E url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    width: 350px;
    border-radius: 48.2759px;
    height: 166.55px;
    z-index: 1;
}

.ourServices-steps .ourServices-step-col:nth-child(2n) .ourServices-step-box {
    flex-direction: row-reverse;
}

.ourServices-steps .ourServices-step-col:nth-child(2n) .ourServices-step-box::after {
    display: none;
}

.need-little-help {
    margin-top: 90px;
}

.need-little-help {
    position: relative;
    border-radius: 75px 0px 0px 75px;
    padding: 32px 70px;
    display: flex;
}

.need-little-help::before {
    content: '';
    clear: both;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: linear-gradient(91.18deg, #394A4A 0%, #4F7431 100%);
    border-radius: 75px 0px 0px 75px;
}

.need-little-help .left-box {
    width: 100%;
    max-width: 665px;
}

.need-little-help .left-box h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.need-little-help .left-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 10px;
}

.need-little-help .right-box {
    flex: 1 1 auto;
    border-left: 1px solid #233B19;
    padding-left: 95px;
    margin-left: 95px;
}

.need-little-help .right-box ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.need-little-help .right-box ul li {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.need-little-help .right-box ul li img {
    max-width: 25px;
    max-height: 25px;
}

.need-little-help .right-box ul li .text-box {
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    column-gap: 5px;
}

.need-little-help .right-box ul li .text-box a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.need-little-help .right-box ul li .text-box span {
    white-space: nowrap;
}

/* =========== end: ourServices-sec =========== */
/* =========== start: whatmakedifferent-sec =========== */
.whatmakedifferent-sec {
    background: url(../images/whatmakedifferent-before.png), linear-gradient(115.31deg, rgba(49, 60, 78, 0.95) 33.95%, rgba(135, 203, 40, 0.95) 100%);
    background-repeat: no-repeat !important;
    background-position: right center !important;
    display: flex;
}

.whatmakedifferent-sec .image-container {
    width: 100%;
    max-width: 800px;
}

.whatmakedifferent-sec .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whatmakedifferent-sec .text-container {
    width: 100%;
    max-width: calc(100% - 800px);
    padding: 30px 32px;
    margin: auto 0;
}

.whatmakedifferent-sec .text-container h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.whatmakedifferent-sec .text-container h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 32px;
}

.whatmakedifferent-sec .text-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 12px;
}



.whatmakedifferent-sec-multiple-left-right {
    display: flex;
    flex-direction: column;
}

.whatmakedifferent-sec-multiple-left-right .whatmakedifferent-sec:nth-child(1n) {
    flex-direction: row;
    background: url(../images/whatmakedifferent-before.png), url(../images/whatmakedifferent-bg1.png);
    background-position: right center !important;
    background-size: auto, cover;
}

.whatmakedifferent-sec-multiple-left-right .whatmakedifferent-sec:nth-child(2n),
.whatmakedifferent-sec-multiple-left-right .whatmakedifferent-sec~.logo-center-stamp+.whatmakedifferent-sec {
    flex-direction: row-reverse;
    background: url(../images/whatmakedifferent-before2.png), url(../images/whatmakedifferent-bg2.png);
    background-position: left center !important;
    background-size: auto, cover;
}

.whatmakedifferent-sec-multiple-left-right .whatmakedifferent-sec .image-container {
    width: 100%;
    max-width: 50% !important;
}

.whatmakedifferent-sec-multiple-left-right .whatmakedifferent-sec .text-container {
    max-width: 50% !important;
    text-align: center;
}

.logo-center-stamp {
    position: relative;
}

.logo-center-stamp::after {
    content: '';
    clear: both;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #313C4E url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    width: 350px;
    border-radius: 48.2759px;
    height: 166.55px;
    z-index: 1;
}

/* =========== end: whatmakedifferent-sec =========== */
/* =========== start: aboutUs-sec =========== */
.aboutUs-sec {
    background-image: url(../images/about-us-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.aboutUs-sec .sec-title1 h2 {
    color: #fff;
    font-weight: 500;

}

.aboutUs-sec .left-right-info-content {
    display: flex;
    margin: -35px;
    flex-wrap: wrap;
    padding-top: 36px;
}

.aboutUs-sec .left-right-info-content .left-info,
.aboutUs-sec .left-right-info-content .right-info {
    width: 100%;
    max-width: 50%;
    padding: 35px;
}

.aboutUs-sec .left-right-info-content h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
}

.aboutUs-sec .left-right-info-content h3 span {
    color: #87CB28;
}

.aboutUs-sec .left-right-info-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 10px;
}

.aboutUs-sec .left-right-info-content p~h3 {
    margin-top: 28px;
}

.aboutUs-counter {
    display: flex;
    margin-top: 42px;
}

.aboutUs-counter li .count:after {
    content: "+";
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33.3477px;
    line-height: 18px;
    color: #87CB28;
}

.aboutUs-counter li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    row-gap: 16px;
    max-width: 25%;
}

.aboutUs-counter li .count {
    font-weight: 600;
    font-size: 33px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    column-gap: 4px;
}

.aboutUs-counter li p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #FFFFFF;

}

/* =========== end: aboutUs-sec =========== */
/* =========== start: blog-sec =========== */
.blog-sec {
    padding: 70px 0 85px;
}

.blog-slider {
    margin-top: 32px;
}

.blog-slider .slick-arrow {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 42px;
    height: 42px;
    color: #87CB28;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
    z-index: 3;
    cursor: pointer;
}

.blog-slider .slick-arrow.next-btn {
    right: 22px;
    left: unset;
}

.blog-slider .slick-slider {
    margin: 0 -15px;
}

.blog-slider .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.blog-slider .blog-slider-box {
    position: relative;
    border-radius: 36.9612px;
    overflow: hidden;
}


.blog-slider .blog-slider-box img {
    width: 100%;
    height: 298px;
    object-fit: cover;
    border-radius: 36.9612px;
}

.blog-slider .blog-slider-box .overlay-texts {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(92.45deg, #3A4B49 0%, rgba(79, 115, 49, 0.7) 100%);
    border-radius: 0px 0px 36px 36px;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 30px;
}

.blog-slider .blog-slider-box .overlay-texts h4 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.blog-slider .blog-slider-box .overlay-texts p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    text-transform: capitalize;
    color: #CFCFCF;
}

/* =========== end: blog-sec =========== */
/* =========== start: our-banking-sec =========== */
.our-banking-sec {
    background: #E2F1E1;
    padding: 60px 0 70px;
}

.our-banking-sec {}

.our-banking-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 22px;
    margin-top: 38px;
}

.our-banking-slider .our-banking-item {}

.our-banking-slider .our-banking-item img {
    width: 100%;
    height: auto;
    transition: .5s;
}

.our-banking-slider .our-banking-item img:hover {
    box-shadow: 0 15px 10px -15px #333;
}

/* =========== end: our-banking-sec =========== */
/* =========== start: formationsMade-easier-sec =========== */
.formationsMade-easier-sec {
    padding: 70px 0 90px;
    background-image: url(../images/formationsMade-easier-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formationsMade-easier-sec .sec-title1 h2 {
    color: #fff;
    line-height: 50px;
    font-weight: 600;
}

.formationsMade-easier-sec .sec-title1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 15px;
}


.formationsMade-easier-sec .search-box {
    position: relative;
    width: 100%;
    max-width: 678px;
    margin: 32px auto 0;
}

.formationsMade-easier-sec .search-box .search-input {
    background: #3F4859;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #87CB28;
    height: 48px;
    border-radius: 24px 24px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.012em;
    color: #fff;
    padding: 0 116px 0 23px;
}

.formationsMade-easier-sec .search-box .search-input::placeholder {
    color: #D9D9D9;
}

.formationsMade-easier-sec .search-box .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0px 24px 24px 0px;
    width: 110px;

}


/* =========== end: formationsMade-easier-sec =========== */
/* =========== start: main-footer =========== */
.main-footer {
    background: #171A1A;
    padding: 60px 0 35px;
    overflow: hidden;
}

.main-footer .main-footer-row {
    display: flex;
    margin: -16px;
    justify-content: space-between;
}

.main-footer .main-footer-col {
    width: 100%;
    max-width: 20%;
    padding: 16px;
}

.main-footer .main-footer-col.packages {
    max-width: 17%;
}

.main-footer .main-footer-col.companyServices {
    max-width: 23%;

}

.main-footer .main-footer-col.addressServices {
    max-width: 23%;

}

.main-footer .main-footer-col.legal {
    max-width: 20%;
}

.main-footer .main-footer-col.resources {
    max-width: 16%;
}

.main-footer .main-footer-box h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main-footer .main-footer-box .nav-lists {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.main-footer .main-footer-box .nav-lists li {
    display: flex;
}

.main-footer .main-footer-box .nav-lists li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DDDDDD;
}

.main-footer .main-footer-box .nav-lists li::before {
    content: '';
    flex: 0 0 auto;
    clear: both;
    width: 10px;
    height: 10px;
    background-image: url(../images/footer-nav-list-icon.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    margin-top: 5px;
}

.main-footer .main-footer-box .nav-lists~h3 {
    margin-top: 32px;
}

.main-footer .main-footer-box .bottom-logo {
    margin-top: 120px;
}

.main-footer .main-footer-cpy-right {
    border-top: 1px solid #656565;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    padding-top: 24px;
    margin-top: 30px;
}

.main-footer .main-footer-cpy-right .left-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-footer .main-footer-cpy-right .left-info p {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.012em;
    color: #BABABA;
}

.main-footer .main-footer-cpy-right .left-info p a {
    color: #BABABA;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.footer-social-icons li {}

.footer-social-icons li a {
    background: #87CB28;
    border-radius: 50%;
    width: 32.84px;
    height: 32.84px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.footer-social-icons li a img {}

.footer-social-icons li a:hover,
.footer-social-icons li a:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #fff;
    color: #262c2c;
}

.footer-social-icons li a:hover img,
.footer-social-icons li a:focus img {
    -webkit-filter: brightness(0%);
    -moz-filter: brightness(0%);
    filter: brightness(0%);
}

/* =========== end: main-footer =========== */
/* =========== start: faq-sec =========== */
.toolkit-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 32px;
}

.toolkit-lists li {
    width: 100%;
    max-width: 20%;
}

.toolkit-lists li .image-container {}

.toolkit-lists li .image-container img {
    width: 100%;
}

.faq-sec {
    width: 100%;
    max-width: 1088px;
    margin: 70px auto 0;
}

.faq-sec .sec-title1 {
    margin-bottom: 32px;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.faq-accordion .card {
    background: #FFFFFF;
    border: 0.5px solid #E5D9D9;
    box-shadow: 0px 7px 15px rgba(22, 25, 79, 0.05);
    border-radius: 20px;
    overflow: hidden;
}

.faq-accordion .card .card-header {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
}

.faq-accordion .card .card-header .btn {
    padding: 10px 42px 10px 17px;
    display: block;
    width: 100%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.012em;
    color: #3A3A3A;
    text-align: left;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
    background-image: url(../images/plue-lg1.svg);
    background-repeat: no-repeat !important;
    background-position: top 14px right 16px !important;
}

.faq-accordion .card .card-header .btn[aria-expanded="true"] {
    background-image: url(../images/minus-lg1.svg);
    padding-bottom: 0;
}

.faq-accordion .card .card-body p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.012em;
    color: #101B01;

}

.faq-accordion .card .card-header~.collapse.show .card-body {
    padding-top: 10px;
}

/* =========== end: faq-sec =========== */

/* =========== start: common-inner-page-banner =========== */
.common-inner-page-banner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.common-inner-page-banner .custom-container {
    min-height: 289px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.common-inner-page-banner .left-info {}

.common-inner-page-banner .left-info figure {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.common-inner-page-banner .left-info figure .icon-container {
    background: #5A5C61;
    border: 0.428571px solid #87CB28;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-inner-page-banner .left-info figure .icon-container span {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #E6F9CC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-inner-page-banner .left-info .prev-nav-menu{
    margin-top: 24px;
} 
.common-inner-page-banner .left-info figure figcaption {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.common-inner-page-banner .left-info figure figcaption.lg{
    font-size: 32px;
    line-height: 52px;
}
.common-inner-page-banner .left-info figure figcaption span {
    color: #6EB012;
}

.common-inner-page-banner .center-info {
    margin: 0 auto;
}

.common-inner-page-banner  .prev-nav-menu {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(110, 176, 18, 0.35) 0%, rgba(49, 60, 78, 0.35) 100%);
    backdrop-filter: blur(17px);
    border-radius: 10.582px;
    height: 46px;
    padding: 0 22px;
}

.common-inner-page-banner .prev-nav-menu li {
    position: relative;
    display: flex;
}

.common-inner-page-banner  .prev-nav-menu li:not(:first-child)::before {
    content: ">";
    clear: both;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0 12px;
}

.common-inner-page-banner  .prev-nav-menu li a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.common-inner-page-banner  .prev-nav-menu li a:hover{
    color: #FFFFFF;

}
.common-inner-page-banner .call-info {
    background: rgba(135, 203, 40, 0.25);
    backdrop-filter: blur(17px);
    border-radius: 37px;
    display: flex;
    column-gap: 13px;
    padding: 9px 32px 9px 9px;
    align-items: center;
}

.common-inner-page-banner .call-info .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex: 0 0 auto;
    background: #87CB28;
    width: 53px;
    height: 53px;
}

.common-inner-page-banner .call-info .text-box {}

.common-inner-page-banner .call-info .text-box p {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.common-inner-page-banner .call-info .text-box h4 {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.common-inner-page-banner .call-info .text-box h4 a {
    color: #fff;
}

/* =========== end: common-inner-page-banner =========== */
/* =========== start: digitalPackage-sec =========== */
.digitalPackage-sec {
    padding: 55px 0 70px;
}

.digitalPackage-sec .custom-container {
    display: flex;
    justify-content: space-between;
    column-gap: 61px;
}

.digitalPackage-sec .left-information {
    width: 100%;
    max-width: 61%;
    display: flex;
    flex-direction: column;
}

.digitalPackage-sec .right-information {
    width: 100%;
    max-width: 39%;
}

.digitalPackage-sec .left-information h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #3A3A3A;
    margin-bottom: 8px;
}

.digitalPackage-sec .left-information h2 span {
    color: #6EB012;
}

.digitalPackage-sec .left-information h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #3A3A3A;
    margin-bottom: 8px;
}

.digitalPackage-sec .left-information p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #5B5B5B;
    margin-bottom: 24px;
}

.digitalPackage-sec .right-information {}

.digitalPackage-sec .right-information .view-all-btn {
    width: 195px;
    height: 48px;
    border-radius: 15px;
    margin: 0 auto;
}

.next-package-bar-s1 {
    position: relative;
    border-radius: 0 75px 75px 0;
    padding: 32px 70px 32px 0;
    display: flex;
    margin-top: auto;
    width: 100%;
    max-width: calc(100% - 100px);
}

.next-package-bar-s1::before {
    content: '';
    clear: both;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: linear-gradient(91.18deg, #394A4A 0%, #4F7431 100%);
    border-radius: 0 75px 75px 0;
}

.next-package-bar-s1 h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.012em;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* =========== end: digitalPackage-sec =========== */

/* =========== end: digitalPackage-sec =========== */
/* =========== start: customer_login =========== */
.fix-container-width .container {
    width: 100%;
    max-width: calc(1408px + 30px);
  }
  #customer_login {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #customer_login fieldset legend {
    font-size: 18px;
    font-weight: 700;
  }
  #customer_login .woocommerce-form-login {
    margin: 0 0;
    border: 0;
    padding: 0;
  }
  #customer_login .col-md-6:nth-child(2) fieldset {
    height: 100%;
  }
  #customer_login p {
    color: #111;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  #customer_login .btn.btn-primary {
    background-color: #87cb28;
    border-radius: 10px;
    font-style: normal;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    outline: none;
    min-width: 80px;
  }
  /* =========== end: customer_login =========== */
  
  /* =========== start: customer-signup-s1 =========== */
  .customer-signup-s1 {
  }
  .customer-signup-s1 .woocommerce-form-register {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    flex: 0 0 auto;
    width: 100%;
    max-width: 66.66666667%;
  }
  .customer-signup-s1 .woocommerce-form-register fieldset.border {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: 0 !important;
    margin-bottom: 16px !important;
  }
  .customer-signup-s1 .woocommerce-form-register fieldset.border legend {
    color: #87cb28 !important;
  }
  .customer-signup-s1 .woocommerce-form-register fieldset.border .form-row {
    width: 100% !important;
      max-width: 100% !important;
      flex: 1 1 auto !important;
  }
  .customer-signup-s1 .woocommerce-form-register fieldset.border .form-row label {
    flex: 0 0 auto;
    width: 25%;
    line-height: 19.5px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .customer-signup-s1
    .woocommerce-form-register
    fieldset.border
    .form-row
    .woocommerce-input-wrapper {
    flex: 1 1 auto;
    width: 25%;
  }
  .customer-signup-s1
    .woocommerce-form-register
    fieldset.border
    .form-row
    .woocommerce-input-wrapper.with-rg-btn {
    display: flex;
  }
  .customer-signup-s1
    .woocommerce-form-register
    fieldset.border
    .form-row
    .woocommerce-input-wrapper.with-rg-btn
    .form-control{
      flex: 1 1 auto;
    }
  .customer-signup-s1
    .woocommerce-form-register
    fieldset.border
    .form-row
    .woocommerce-input-wrapper.with-rg-btn
    .btn {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  /* =========== end: customer-signup-s1 =========== */
  
/* =========== start: comparePackages-content =========== */
.comparePackages-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.13);
    border-radius: 45px;
    padding: 40px 40px;
    overflow-x: auto;
    overflow-y: hidden;
}

.comparePackages-content {
    margin-top: 42px;
}

.comparePackages-content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0;
    white-space: normal;
}

.comparePackages-content table .left-contents .top-info h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #3A3A3A;
}

.comparePackages-content table .left-contents .top-info h3 span {
    color: #6EB012;
}

.comparePackages-content table th .items-th-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.comparePackages-content table th .items-th-info .icon-container {
    background: #FFFFFF;
    border: 0.695238px solid #87CB28;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparePackages-content table th .items-th-info .icon-container .inner-box {
    background: #E6F9CC;
    border-radius: 50%;
    width: 63.27px;
    height: 63.27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparePackages-content table th .items-th-info .icon-container .inner-box img {
    max-width: 38.11px;
    max-height: 38.11px;
}

.comparePackages-content table th .items-th-info h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #3A3A3A;
    font-family: 'Nunito Sans';
    margin-top: 8px;
}

.comparePackages-content table th .items-th-info h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #87CB28;
    margin-top: 4px;
}

.comparePackages-content table th .items-th-info .bottom-actions {
    margin-top: auto;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 8px;
}

.comparePackages-content table th .items-th-info .bottom-actions .buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #6EB012;
    border-radius: 15px;
    width: 117px;
    height: 40px;
}

.comparePackages-content table th .items-th-info .bottom-actions .read-more-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

.comparePackages-content table thead th {
    padding: 24px 0 8px;
}

.comparePackages-content table tfoot th {
    padding: 24px 0 8px;
}

.comparePackages-content table thead th:not(:first-child) {
    padding-left: 16px;
    padding-right: 16px;
}

.comparePackages-content table thead th:last-child {
    padding-right: 0;
}

.comparePackages-content table tbody tr td {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3A3A3A;
    border-bottom: 1px solid #D8D8D8;
    padding: 16px 0;
}

.comparePackages-content table tbody tr td:not(:first-child) {
    text-align: center;
}

.comparePackages-content table tbody tr td .text-with-tick-icon {
    display: flex;
    align-items: flex-start;
}

.comparePackages-content table tbody tr td .text-with-tick-icon img {
    flex: 0 0 auto;
    margin: 3px 6px 0 0;
}

.comparePackages-content table tbody tr td p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    text-transform: capitalize;
    color: #3A3A3A;
}

/* =========== end: comparePackages-content =========== */
/* =========== start: notSureBestFor-sec =========== */
.notSureBestFor-sec {
    background: linear-gradient(91.18deg, #394A4A 0%, #4F7431 100%);
}

.notSureBestFor-sec .custom-container {
    border-radius: 75px 0px 0px 75px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    max-width: 1130px;
}

.notSureBestFor-sec .left-box {
    width: 100%;
    max-width: 400px;
}

.notSureBestFor-sec .left-box h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.notSureBestFor-sec .left-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 10px;
}

.notSureBestFor-sec .right-box {
    flex: 1 1 auto;
    border-left: 1px solid #233B19;
    padding-left: 160px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notSureBestFor-sec .right-box ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.notSureBestFor-sec .right-box ul li {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.notSureBestFor-sec .right-box ul li img {
    max-width: 25px;
    max-height: 25px;
}

.notSureBestFor-sec .right-box ul li .text-box {
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    column-gap: 5px;
}

.notSureBestFor-sec .right-box ul li .text-box a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.notSureBestFor-sec .right-box ul li .text-box span {
    white-space: nowrap;
}

/* =========== end: notSureBestFor-sec =========== */